/* HeroesComponent's private CSS styles */
table{
  width: 1400px;
  max-width: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mat-column-id, .mat-column-esquive, .mat-column-attaque, .mat-column-pv, .mat-column-degats{
  width: 10%;
}

.mat-column-actions{
  width: 10%;
  text-align: end;
}

.mat-column-actions a{
  margin: 0px 7px;
}
