<div class="container">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
         class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
        id
      </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
        Nom
      </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- attaque Column -->
    <ng-container matColumnDef="attaque">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by attaque">
        Attaque
      </th>
      <td mat-cell *matCellDef="let element"> {{element.attaque}} </td>
    </ng-container>

    <!-- esquive Column -->
    <ng-container matColumnDef="esquive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by esquive">
        Esquive
      </th>
      <td mat-cell *matCellDef="let element"> {{element.esquive}} </td>
    </ng-container>

    <!-- pv Column -->
    <ng-container matColumnDef="pv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pv">
        PV
      </th>
      <td mat-cell *matCellDef="let element"> {{element.pv}} </td>
    </ng-container>

    <!-- degats Column -->
    <ng-container matColumnDef="degats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by degats">
        Degats
      </th>
      <td mat-cell *matCellDef="let element"> {{element.degats}} </td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <div class="button-container">
          <a routerLink="/detailWeapon/{{element.id}}">
            <button mat-stroked-button color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </a>
          <a routerLink="/detailWeapon/{{element.id}}">
            <button mat-stroked-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </a>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="aside">
    <a routerLink="/newWeapon/">
      <button mat-fab color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </a>
  </div>
</div>

