/* HeroDetailComponent's private CSS styles */
.container{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: calc(100% - 50px);
  position: relative;
}

.container .flex-item{
  height: 100%;
}

.container .flex-item:nth-of-type(1){
  width: 45%;
}

.container .flex-item:nth-of-type(2){
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

button{
  padding: 5px;
  font-size: 1em;
}

form div{
  width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

label {
  color: #435960;
  font-weight: bold;
}
input{
  font-size: 1em;
  padding: .5rem;
  border: none;
  border-bottom: 2px solid #eee;
}

div.submit{
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-width: fit-content;
}

div.weapon{
  margin-top: 10px;
  align-items: center;
}

div.weapon img{
  width: 200px;
  max-width: 200px;
}

div.personnage{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

div.personnage img{
  max-width: 450px;
  max-height: 650px;
}

div.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-items: center;
}

div.aside{
  position: absolute;
  width: 120px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px;
}

div.aside div{
  width: 50%;
  display: flex;
}

div.aside img{
  width: 100%;
}

div.aside div span{
  font-size: 1.5em;
  font-weight: bold;
  height: fit-content;
}

