.weapons {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 5px solid white;
}
.weapons li {
  max-width: fit-content;
  cursor: pointer;
}

.weapons li:hover {
  left: .1em;
}

.weapons div {
  color: #333;
  text-decoration: none;
  background-color: white;
  margin: .5em;
  border-radius: 4px;
  display: block;
  width: 150px;
  max-width: 150px;
  height: 150px;
  max-height: 150px;
}

.weapons div img{
  max-width: 100%;
}

.weapons div:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.weapons div:active {
  background-color: #525252;
  color: #fafafa;
}
